.tocbase .toctree-l3 {
  padding-left: 14px;
}
.hljs {
  overflow-x: auto !important;
  padding: 0.5em !important;
  color: #333 !important;
  background: #f8f8f8 !important;
}

code {
  white-space: pre !important;
  word-wrap: normal !important;
  font-size: 12px !important;
}
.wy-nav-content {
  max-width: 1200px;
}
th {
  text-align: center;
}